
.container{
    width: 40%;
    margin-top: 50px;
    border: none;
    padding: 30px;
    border-radius: 10px;
    background-color:   #044947 ;
    opacity: 0.9; 
}
@media (max-width:576px) {
    .container{
     background-color: #044947;
     width: 70%;
    }
 }
@media (min-width:576px) and (max-width:710px){
   .container{
    background-color:  #044947;
    width: 70%;
   }
}
@media (min-width:710px) and (max-width:870px){
    .container{
        background-color: #044947;
        width: 60%;
    }
}
@media (min-width:870px) and (max-width:922px){
    .container{
        background-color: #044947;
        width: 50%;
    }
}

h1{
    text-align: center;
    color: white;
}
p{
    color: white;
    margin-left: 50px;
    margin-top: 20px;
}
.pencil{
    font-size: 20px;
    margin-right: 6px;
}
.form-group{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: auto;
}
button{
    margin-left: 10px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    font-weight: bold;
   cursor: pointer;
}
button:hover{
    background-color:#0f5856 ;
}
.list{
    margin-top: 30px !important;
}
li{
    margin-bottom: 15px;
    margin-left: -12px;
    background-color: black !important;
    color: white !important;
    border: none !important;
    list-style-type: none;
    border-radius: 5px;
    padding: 10px;
}
.list-items{
    display: flex;
}
.list-items .list-item-list{
    flex:1;
}
.list-items .list-item-icons{
    padding-left: 5px;
    font-size: 25px;
}
#complete{
    color:green;
}
#edit{
    color:blue;
}
#delete{
    color:orangered;
}
#list-item{
    text-decoration: line-through;
    opacity: 0.3;
}
.clear-button{
    width: 88px;
    height: 45px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 10px;
   
}